#add-new-button{
    position: absolute;
    top: 40px;
    right: 1%;
    width: 45px;
    font-size: 2.3rem;
}
#list-table i{
    color: #b66dff;
}
#add-new-form .text-danger p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}
#add-new-button i{
    font-size: 2.5rem;
}
.modal-footer{
    justify-content: center;

}
.table-list-record .card{
    overflow-x: scroll;
}

.table-pagination{
    margin-top: 20px;
    margin-left: 10px;
}
.table-pagination a{
    border: solid 1px #dfdfdf;
    padding: 5px;
}
.table-pagination a:hover{
    border: solid 1px #dfdfdf;
    padding: 5px;
    text-decoration: none;
}
.table-pagination strong{
    border: solid 1px #dfdfdf;
    padding: 5px;
}
.table-clicked{
    cursor: pointer;
}
#list-table thead{
    background-color: black;
    color: white;
}
.text-success, .text-danger{
    font-size: 12px;
}